@charset "utf-8";

/* CSS Document */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0px;
    padding: 0px;
    font-family: 'Microsoft YaHei';
}

fieldset,
img {
    border: none;
}

img {
    border: none;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ol,
li {
    list-style: none;
}

input {
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}

input::-moz-focus-inner {
    border: none;
    padding: 0px;
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 13px;
    margin: 0px;
}

input[type="text"],
input[type="password"],
textarea {
    outline-style: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}
